<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
  <div class="box">
    <h1><%= @number1 %>票</h1>
    <form action="/plus1" method="post">
      <input type="submit" value="投票する">
    </form>
  </div>
  <div class="box">
    <h1><%= @number2 %>票</h1>
    <form action="/plus2" method="post">
      <input type="submit" value="投票する">
    </form>
  </div>
</body>
</html>