*{
    box-sizing: border-box;
}
body{
    /* 全体の横幅 */
    width: 100vw;
    /* 全体を中央寄せ */
    margin: auto;
    /* 全体の余白 */
    padding: 10px;
    
    display: flex;
    
    background-image: url(assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
}

/* 数字 */
h1{
    margin: auto;
    
    /* 文字の太さ */
    font-weight: 100;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    line-height: 100px;
    
    font-size: 48px;
}

/* ボタン共通 */
input{
    border: 0;
    background: none;
    display: block;
    margin: auto;
    
    /*width: 80%;*/
    text-align: center;
    
    /* 上との余白 */
    margin-top: 10px;
    
    /* 文字の大きさ */
    font-size: 48px;
}

/* プラスボタン */
input[value="投票する"]{
    
    /* 文字の色 */
    color: #f9f9f9;
    
    /* 背景 */
    background: #448AFF;
}

.box{
    width: 40vw;
}