*{
    box-sizing: border-box;
}
body{
    /* 全体の横幅 */
    width: 100vw;
    height: 100vh;
    /* 全体を中央寄せ */
    margin: auto;
    /* 全体の余白 */
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    
    font-family: happy-ruika, sans-serif;
}

/* 数字 */
h1{
    margin: auto;
    
    /* 文字の太さ */
    font-weight: 100;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    line-height: 100px;
    
    font-size: 48px;
    
    color: #ffffff;
}

/* ボタン共通 */
input{
    border: 0;
    background: none;
    display: block;
    margin: auto;
    
    text-align: center;
    
    /* 文字の大きさ */
    font-size: 48px;
    
    margin: 0 1vw;
    
    padding: 4vh 2vw;
    
    border-radius: 15px;
    
    font-family: happy-ruika, sans-serif;
    
    /* 背景 */
    background: #ffffff;
}

.bambooshoot{
    /* 文字の色 */
    color: #27387E;
}

.mushroom{
     /* 文字の色 */
    color: #F24C5A;
}

.box{
    width: 42vw;
    text-align: center;
    padding:15vh 0;
}

img {
    width: 30vw;
}

.election_box {
    display: flex;
    justify-content: center;
    margin: 1vh;
}

h2 {
    font-size: 48px;
    color: #FFFFFF;
    padding: 26px;
    border: 9px solid #FFFFFF;
    margin: 0;
}